@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



html{
    margin: 0;
    padding: 0%;
    height: 100%;
    width: 100%;
    
}

body {
    background-color: rgb(8, 8, 8);
    font-family: 'Bebas Neue', cursive;    height: 100%;
    width: 100%;

    padding: 0;
    margin: 0;

    color: #05c46b;
}

.container {
    width: 70%;
    height: 100%;
    

    margin: 0;
    padding: 0;

    margin: 0 auto;
}

nav {
    font-weight: 100;
    
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin: 0% auto;
  font-size: 24px;
}

nav .logo {
    float: left;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 14px 16px;
}

nav li {
  float: right;}

nav li:first-child {
  border-right: none;
}

nav li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #05c46b;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
  background-color: #f1f1f1;
  color: #111;
}

.topside {
    height: auto;
    margin: 0 auto;
}

.topside-content {
    margin-top: 80px;
}

.topside-content .content-hold {
    text-align: left;
}

.website {
    width: 75%;
    height: 100%;
    margin: 0 auto;
    
}

.content-hold {
    background-color: #0f1011;
    padding: 2%;
    height: 40%;
    border-radius: 4px;
    border-bottom:6px solid rgb(0, 0, 0);


}

.content {
  /*  width: 100%;
    padding: 10px;
    margin: 10px;
*/
}

h1,h2,h3,h4,p {
    padding: 0%;
    margin: 0%;
    margin: 0%;
}

p {

}