@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
html, body {
    margin: 0;
    padding: 0%;
    height: 100%;
    width: 100%;
}

body {
    background: #111111;
    font-family: 'Fredoka', sans-serif;

    margin: 0;
    padding: 0%;
    height: 100%;
    width: 100%;
}

.container {
    width: 80%;
    height: 100%;
    border: 1px solid red;

    margin: 0;
    padding: 0%;
}

.topside {
    background-color: blueviolet;
    height: 20%;
    border: 1px solid red;

}

.content{
    color: #f1f1f1;
    text-align: center;
}